.u-section-1 .u-sheet-1 {
  min-height: 783px;
}

.u-section-1 .u-text-1 {
  margin: 21px -12px 60px -38px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }
}